@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mr-top-10 {
  margin-top: 15px;
}

.mr-top-5 {
  margin-top: 10px;
}

.my_bg_blue {
  background-color: #6299AF;
  color: #fff;
}

.my_bg_yellow2 {
  /* background-color: rgba(98, 153, 175, 0.6); */
  background-color: #F6F0E3;
}

.my_bg_yellow {
  background-color: #E3D7BD;
}

.mg_border_blue {
  border: 1px solid #ccc;
}

/* Message area styles */
.message-container {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.message-bubble {
  margin-bottom: 16px;
  padding: 16px;
  font-size: 0.85rem;
  width: 400px;
  border-radius: 12px;
  background-color: #333333;
}

.llm-message {
  background-color: #171717;
  color: #DEDEDE;
}

.other-message {
  align-items: center;
  width: fit-content;
  max-width: 70%;
  background-color: #333333;
  color: #eeeeee;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-right: 0%;
  margin-left: auto;
  align-self: flex-end;
}

/* 文件消息的整体容器 */
.file-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: transparent;
  /* 或者不使用背景色 */
  border-radius: 0;
  /* 去掉圆角 */
}

.file-message {
  display: flex;
  align-items: center;
  padding: 10px;
  /* background-color: #f5f5f5; */
  background-color: #353535;
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 100%;
}

/* 图标的容器，用于控制图标大小和布局 */
.file-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

/* PDF 图标的样式 */
.file-icon {
  color: #e74c3c;
  font-size: 48px !important;
}

/* 文件内容的容器，包含文件名和元数据 */
.file-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 文件名的样式 */
.file-name {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
  word-break: break-word;
  /* 防止文件名过长导致布局问题 */
  max-width: 200px;
  /* 设置最大宽度 */
}

/* 文件元数据的样式（例如文件类型或大小） */
.file-meta {
  font-size: 0.85rem;
  color: #DEDEDE;
}

.message-actions {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.action-button {
  background-color: #d3d3d3;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #a9a9a9;
}

/* "p-4 bg-gray-800 sticky bottom-0 flex items-center"> */

.input-area {
  padding: 0.2rem;
  background-color: #333333;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}

/* min-h-[40px] w-full resize-none bg-transparent 
  px-2 py-3 focus-within:outline-none sm:text-sm border border-gray-300 
  rounded-lg px-right-12 pr-[1rem] !leading-tight" */

.input-text {
  min-height: 30px;
  width: 100%;
  resize: none;
  background-color: transparent;
  padding: 12px 2px;
  outline: none;
  /* border: 1px solid #d1d5db; */
  /* border-radius: 0.5rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.25;
  color: #cea0a0;
  font-weight: bold;
}

/* -------------------------------------------------------------- */
/* 子页面 */

.user_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
}

.input_field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.input_field_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin-top: 5px;
}

.user_type_button {
  /* padding: 10px; */
  font-size: 16px;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* cursor: pointer; */
  flex: 1;

  background-color: #888888;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

user_type_button:hover {
  background-color: #0056b3;
}


.user_type_button_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* -------------------------------------------------------------- */

.user_history_container {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* align-items: center; */
  /* height: 100vh; */
  background-color: #171717;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  min-height: 100%;
  /* margin-bottom: 0; */
}

.user_history_content_container {
  display: flex;
  width: 80%;
  min-height: 87vh;
  flex-direction: column;
  align-items: center;
  margin-left: 12.5rem;
  /* margin-top: 50px; */
  /* margin-bottom: 0; */
  /* background-color: #133333; */
}

.empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 87vh;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.card-page-content {
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  display: flex;
  gap: 0.2rem;
  padding: 2rem;
  margin: 0 auto;
  color: #FFFFFF;
  min-height: 90%;
  /* margin-left: -0.5rem; */
}

.masonry-grid_column {
  background-clip: padding-box;
}

.masonry-grid_column>div {
  margin-bottom: 0.2rem;
  /* 卡片的底部间距 */
}

.prompts_container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  margin-left: 12.5rem;
}

/* --------------------------------------------------- */

::-webkit-scrollbar {
  width: 24px;
  height: 24px;
}

::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scrollbar-width: auto;
  scrollbar-color: #888 #333333;
}